certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fatsecret==0.2.3
idna==2.10
irc==19.0.1
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.2.1
jaraco.logging==3.1.0
jaraco.stream==3.0.0
jaraco.text==3.5.0
joblib==1.0.1
more-itertools==8.7.0
nltk==3.5
pytz==2021.1
rauth==0.7.3
regex==2020.11.13
requests==2.25.1
tempora==4.0.1
tqdm==4.58.0
urllib3==1.26.3
zipp==3.4.0
